.form {
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;

    input {
      padding-left: 12px !important;
    }
    
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
  }
}