.p-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 38px;
  border: 1px solid #D1D0D9;
  border-radius: 4px;
  color: #211F33;

  box-sizing: border-box;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  &-label {
    padding: 13px;
  }

  &-trigger {
    padding-right: 13px;
  }

  
}

// .p-dropdown-panel {
//   z-index: 1001;
//   position: absolute;
//   top: 672.781px;
//   left: 479.5px;
//   min-width: 196px;
//   transform-origin: center top;

//   border: 1px solid #D1D0D9;
//   border-radius: 4px;

//   .p-dropdown-items {
//     padding: 0.75rem 0;

//     .p-dropdown-item {
//       margin: 0;
//       padding: 0.75rem 1.25rem;
//       border: 0 none;
//       color: #4b5563;
//       // background: transparent;
//       transition: box-shadow 0.2s;
//       border-radius: 0;
//     }
//     .p-focus {
//       color: #4b5563;
//       background: #f3f4f6;
//     }

//   }
// }