@import "src/styles/variables.scss"; 

.button {
 
  width: 121px;
  height: 38px;
  padding: 12px 0px 0px 0px;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #48446940;  
  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 14px;

  &__primary {
    background-color: $primary-blue;
    color: #FFFFFF;
  }

  &__alert {
    background-color: $alert-red;
    color: white;
  }

  &__neutral {
    color: #337AB7;
    background-color: #FFFFFF
  }
}

.p-dropdown-panel {
  z-index: 1001;
  position: absolute;
  // top: 672.781px;
  // left: 479.5px;
  min-width: 196px;
  transform-origin: center top;

  border: 1px solid #D1D0D9;
  border-radius: 4px;

  .p-dropdown-items-wrapper {
    background: white;
    .p-dropdown-items {
      padding: 0.75rem 0;
  
      .p-dropdown-item {
        margin: 0;
        padding: 0.75rem 1.25rem;
        border: 0 none;
        color: #4b5563;
        // background: transparent;
        transition: box-shadow 0.2s;
        border-radius: 0;
      }
  
      .p-focus {
        color: #4b5563;
        background: #f3f4f6;
      }
  
    }
  }

}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 270px;
  height: 38px;
  border: 1px solid #D1D0D9;
  border-radius: 4px;

  box-sizing: border-box;
  padding: 0 13px 0 40px;

}

.red {
  color: red;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}