.device-row-item {
  border-bottom: 1px solid #D1D0D9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__left {
    &__header {
      display: flex;
      flex-direction: row;
    }
  }
}
